body {
  font-family: 'Inter', sans-serif;
}

.login-container {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../public/assets/images/LoginPageBackground.png');
  background-size: cover;
  background-position: center;
}

.login-card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(59, 216, 7, 0.482);
}

.login-header {
  color: #333;
  text-align: center;
  margin-bottom: 1.5rem;
}

.input-group {
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.login-button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: #74c45d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-link {
  text-align: center;
  margin-top: 1rem;
}

/* Admin Dashboard Styles */
.admin-dashboard {
  padding: 2rem;
}

.event-section {
  margin-bottom: 2rem;
}

.event-section-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.event-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.event-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.event-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.event-card-title {
  font-size: 1.2rem;
}

.event-status-toggle {
  /* Add styles for the event status toggle button */
}

.add-event-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modal-title {
  font-size: 1.5rem;
}

.close-modal-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
