/* eventDetailsPageStyles.css */
.event-details-page-title {
  display: flex;
  padding-top: 3%;
  padding-bottom: 3%;
}

.event-details-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-details-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.event-title {
  font-size: 24px;
  font-weight: bold;
  color: #0e0358;
  margin-right: 20px;
}

.event-status-toggle {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.status {
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
  margin-bottom: 10px;
}

.status.upcoming {
  background-color: #00bbff;
  color: #fff;
}

.status.completed {
  background-color: #00963f;
  color: #fff;
}

.event-description {
  font-size: 16px;
  color: #555;
}

/* participants-table stylings */
.participants-list {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* overflow: scroll; */
}

.table-wrapper {
  max-height: 35rem;
  overflow-y: scroll;
  overflow-x: auto;
}

.participants-table th,
.participants-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

.participants-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
  position: sticky;
  top: 0;
}

.participants-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.participants-table tbody tr:hover {
  background-color: #e6e6e6;
}

/* Responsive stylings */
@media screen and (max-width: 992px) {
  .event-details-container {
    max-width: 100%;
    padding: 10px;
  }

  .event-title {
    font-size: 20px;
    margin-right: 10px;
  }

  .status {
    font-size: 12px;
    padding: 4px 8px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 768px) {
  .event-details-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .event-title {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .event-status-toggle {
    margin-top: 10px;
  }
}

/* Controls section stylings */
.controls-section {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.control-item {
  margin-bottom: 20px;
}

.control-item h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.preview-btn,
.send-link-btn {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.preview-btn {
  background-color: #00bbff;
  color: #fff;
  margin-right: 10px;
}

.send-link-btn {
  background-color: #00963f;
  color: #fff;
}

.preview-btn:hover,
.send-link-btn:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .controls-section {
    margin-top: 20px;
  }

  .preview-btn,
  .send-link-btn {
    font-size: 12px;
    padding: 6px 12px;
  }
}
